* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

p {
  margin: 0;
}

.main-container {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 250px);
}

.left-section {
  width: 100%;
}

.main-image {
  margin: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right-section {
  padding: 25px;
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.product {
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.product-name {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.product-description {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  width: 87%;
  line-height: 1.5;
  margin-bottom: 20px;
}

.price-section {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.product-price {
  font-size: 30px;
  font-weight: 700;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  margin-right: 15px;
}

.product-previous-price {
  font-size: 13px;
  font-family: "Fraunces", serif;
  color: hsl(228, 12%, 48%);
  margin-right: 15px;
  text-decoration: line-through;
}

button {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  background-color: hsl(158, 54%, 25%);
}

.icon {
  margin-right: 5px;
}

footer {
  color: hsl(212, 21%, 14%);
  margin-top: 10px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: hsl(212, 21%, 14%);
}

footer a:hover {
  color: hsl(158, 36%, 37%);
}

@media only screen and (max-width: 545px) {
  .main-container {
    grid-template-columns: 350px;
  }

  .main-image {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
  }

  .right-section {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }
}
